.footer{
    padding: 30px 50px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: baseline;
}
.footer ul{
    padding: 0;
    list-style: none;
}
.footer span{
    text-align: center;
    font-size: 12px;
}